<!doctype html>
<html lang="en">
  <head>
    <title>add diet chart</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
            @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
        .heading1{
            font-size: 35px;
            margin-top: 40px;
            text-align: center;

        }
        body{
            background-color: aliceblue;
        }
        h2{
            font-weight: 400;
            font-size: 30px;
            margin-top: 20px;
        }
        ul{
            margin-top: 30px;
        }
        .container{
            text-align: justify;
            opacity: 0.9;
        }
        .image3{
            position: relative;
            /* left: 10%; */
        }
        .image4{
            position: relative;
            /* left: 10%; */
           margin-top: 20px;
        }
        h1{
            font-size: 30px;
            margin-top: 20px;
        }
        p{
            margin-top: 20px;
        }
        .navbar-brand{
 color: white;
 font-family: 'Pacifico', cursive;
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark fixed-top"> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="navbar-brand">Grow With Us</div>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="history.back()">Back</button>
          </ul>      
      </nav> <br><br>
      <div class="container">
        <!-- image -->
        <img src="https://www.bajajfinservhealth.in/_next/image?url=https%3A%2F%2Fwordpresscmsprodstor.blob.core.windows.net%2Fwp-cms%2F2021%2F05%2Fheadera.jpg&w=1920&q=75" alt="" width="100%" height="500px">
    <h1 class="heading1">Best Diet Plan for Weight Loss and Weight Gain With Diet Chart

    </h1>
    <h2>Key Takeaways</h2>
        <ul>
            <li>a healthy diet plan is the foundation of good health</li>
            <li>Alter your diet according to whether you want to lose or gain weight</li>
            <li>Consult with a nutritionist for a diet plan tailored to your health goals</li>
           
                
        </ul>
    <h1>Diet Plan for Weight Loss</h1>
    <p>
        By 2040, around 30% of India’s population is likely to be overweight. It’s important to understand that not only is obesity a problem in itself, but it can also lead to diabetes and heart disease. As you now know, when it comes to good health diet is a key determinant. So, if you find that you are overweight, try following a healthy diet plan that focuses on nutrient-rich, home-cooked food, and eliminates packaged, processed, sugar- and sodium-laden food. To get started, try this 5-day plan.
    </p>

    <h1>5-Day Diet Plan for Weight Loss</h1>
    <p>
        As mentioned above, your diet plan for weight loss should be balanced and consist of food that supplements your body with the right nutrients. Moreover, your body is unique, and your nutrient requirement may be different from others, especially if you are suffering from an ailment or disorder. Depending on your body type, its daily requirement, your geographic location and the kind of food you love to eat, you can create a healthy diet plan for weight loss that truly works for you.

        Meal preferences are important as they determine the type of food you consume, whether you have meat, vegetarian food, or vegan. You should also consider the style of cooking such as North Indian, South Indian, boiled, or grilled. Deciding on these factors in advance will help you prepare a diet plan, which suits your palate and still works wonders when it comes to keeping you healthy.

        To start with here’s a holistic 1200-calorie healthy diet plan for weight loss. You can start following this as a 5-day plan for a few weeks to see how your body responds to it. The below-mentioned diet plan for weight loss is fairly safe and will help you ease into forming healthier eating habits. If you have qualms about whether this diet plan for weight loss is right for you, talk to a dietician or nutritionist before you start following it.
    </p>
    <!-- image -->
    <h1>Day 1</h1>
    <ul>
        <li>Start your day by drinking cucumber water </li>
        <li>Then for breakfast have 1 bowl of oats porridge with skimmed milk </li>
        <li> Have a bowl of dal, sabzi, and 1 roti or 1 cup of brown rice for lunch </li>
        <li>For dinner fill your plate with a bowl of dal, sabzi, and 1 roti </li>
        <li>To satisfy mid-meal hunger pangs try snacking on fruits, 1 glass of buttermilk, or one bowl of yogurt </li>
        
    </ul>

    <h1>Day 2</h1>
    <ul>
        <li>Start your day with cucumber detox water or one glass of lukewarm water in the morning </li>
        <li>To bring in some variety to your breakfast try consuming a mixed vegetable chilla along with curd (Avoid pickles initially, but you can add pickles to your meal once in a while at a later stage) </li>
        <li>For lunch, have one bowl of palak pulao with dal  </li>
        <li>At night, skip the roti and instead increase your intake of vegetables </li>
        <li>You can include paneer and sautéed vegetables in your dinner</li>
    </ul>
    
    <h1>Day 3</h1>
    <ul>
        <li>On the third day, you can skip Indian food and include multigrain brown bread toast and a bowl of fruits in yogurt for your breakfast </li>
        <li>For lunch, introduce sautéed vegetables along with paneer and have 1 small bowl of rice to compliment your carbohydrate requirement </li>
        <li>For dinner, try some panner curry with a bowl of vegetables (You can consume any type of vegetable as per your palate and cravings) </li>
        <li>For snacking, depend on fruits and yogurt or buttermilk </li>
    </ul>

    <h1>Day 4</h1>
    <ul>
        <li>On the fourth day, start with a milkshake containing lots of nuts as well as your choice of fruits; you can also have a stuffed omelet with cheese, mushrooms, and onions </li>
        <li>For lunch have a big bowl of urad dal, veggies, and paneer paratha </li>
        <li>For dinner, you can have half a bowl of rice, and for protein include palak chole </li>
        <li>For snacking continue eating fruits, yogurt, or buttermilk</li>
    </ul>
    

    <h1>Day 5</h1>
    <ul>
        <li>Start your day with a glass of low-fat milk and veggie upma for breakfast </li>
        <li>For lunch, you can have a stuffed roti alongside a paneer bhurji with veggies  </li>
        <li>For dinner have 1 roti, 1 bowl of dal or yogurt, and 1 sabzi like a beans curry or baingan bharta </li>
    </ul>
    
        


    

    <h1>Simple Tips for Weight Loss</h1>
    <p>In addition to the aforementioned diet plan for weight loss, it is also important to follow simple steps in order to lead a healthier lifestyle. As you follow the right diet, boost your weight loss with these tips and see faster and better results</p>
    <div class="image3">
        <img src="https://images.pexels.com/photos/6970101/pexels-photo-6970101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 " alt="" width="100%" height="500px">
    </div>
    <!-- image -->
    <h1>1. Have Breakfast Every Single Day</h1>
    <p>Make it a practice to have breakfast, however stressful your routine may be. If need be, make the preparations for your breakfast a day prior as this will help you quickly cook up a meal without having to skip it. Breakfast keeps you full for longer hours too, so be diligent about it.  </p>

    <h1>2. Eat Meals at Regular Intervals</h1>
    <p>Keeping your stomach empty for longer hours will make you crave food unnecessarily and at odd hours. To reduce your hunger pangs, maintain a sufficient gap of 2 hours between each meal and a bigger gap of 4 to 6 hours between the 3 main meals of the day. This way, your body will always stay satiated and your metabolism will continue to work.</p>

    <h1>3. Increase the Consumption of Fruits and Vegetables</h1>
    <p>Low in calories, veggies and fruits are high in fiber and contain vitamins and minerals in abundance. Instead of depending on packed snacks, you can simply replace them with salads and whole fruits. This will help you eliminate unhealthy foods and help you increase the fiber and nutrient intake of your body.</p>

    <h1>4. Hike up Your Fluid Intake</h1>
    <p>
        Did you know that water actually helps you burn fat? That’s right! Increase your water intake in a considerable way when following a healthy diet plan for weight loss. Drinking 3 to 4l of water every day helps release toxic wastes from your body and also increases your muscle elasticity. To allow your body to function with ease, remember to drink ample water.  
    </p>
    <h1>5. Increase Cardio Activities</h1>
    <p>
        There is a misconception regarding exercises as people usually believe that only intense exercises help with losing weight and staying healthy. In reality, consistently following a simple and easy workout routine helps just as much! An example of this is brisk walking for 30 minutes a day to increase your body’s well-being and keep your weight under check. Walking is an excellent cardio exercise, and it will complement your weight loss diet plan greatly.  
    </p>

    <h1>6. Bring Home Food that is Fresh</h1>

    <p>
        When following a healthy diet plan for weight loss it is important to be mindful of the food you consume. This starts with the ingredients you purchase or the vegetables and fruits you buy from the market. Increase your intake of seasonal produce and try to buy ingredients that are not packaged. The fresher the ingredients, the higher will be their nutrition value. Make it a practice to read nutrition labels if you are buying packaged food, sauces, or mixes. This help you get the calorie and other nutrient information, so you know that you’re spending money on something worthwhile. 
    </p>

    <h1>7. Avoid Junk as Much as Possible</h1>
    <p>
        Along with banning preservatives in your daily diet, you should also put a check on the junk food you eat. Decrease your consumption of chocolates, biscuits, sweet fizzy drinks, chips, and the like. Instead of looking to snack on these items, you should opt for healthy snacks, such as fruit and nuts. Increase your consumption of yogurt or curd to satiate your hunger instead of depending on packaged food.  
    </p>
    <div class="image4">
        <img src="https://images.pexels.com/photos/8851929/pexels-photo-8851929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="500px">
    </div>

    <!-- image -->

    <h1>Diet Plan for Weight Gain</h1>
    <p>
        Your genetic structure, body type, and even your metabolism greatly contribute to your body’s structure. This is the reason why you may tend to either gain weight faster or not be able to gain weight and stay lean. However, as per your BMI or Body Mass Index, you should have a certain amount of muscle in your body to stay healthy. So, here is a simple diet plan to follow in case you are looking to gain weight sustainably.

        This is a simple 3,000-calorie diet plan for weight gain. You can tweak it by replacing each item with a similar variety of food, without disturbing the calorie intake proportion.
    </p>
    <ul>
        <li>Start off on the right note by having a glass of milk and bananas with honey, avocadoes on toast or two eggs, and 4 overnight soaked raisins with the same amount of almonds. This is high protein breakfast to start your day with and it also fuels the body with the right amount of energy to stay alert and active throughout the day.</li>
        <li>For breakfast, it is important to supply the body with the right amount of fiber and protein so that it can stay full for longer and derive the necessary nutrients to gain muscles. For this meal include cottage cheese or veggie whole-grain sandwiches or parathas with some Greek yogurt or full-fat dahi. If you have a palate for South Indian meals, you can also have two masala dosas with sambhar and chutney. On some days you can also eat a healthy breakfast of sprouts and consume two moong dal chillas with paneer stuffing, or an omelet with two eggs</li>
        <li>Groundnut chikki or a protein bar consisting of nuts and dates or a bowl of nuts and yogurt with fruits can be a great snacking option! Have this mid-morning and keep a gap between this and your lunch by about 2 hours at least </li>
        <li>For lunch, you need to boost your protein intake and must have a heavy meal of sprout salad, chicken curry or fish. You can include a vegetable curry also and instead of sprouts can have any type of lentils (dal or chole) as well. Try to consume 2 chapatis or a bowl of rice with this. This will balance your carbohydrate intake and keep you full for a longer duration.</li>
        <li>You must increase your intake of dairy and switch to full-fat dairy for your tea and coffee consumption. To balance this further, include an ample amount of ghee in your diet as well. When craving a snack, you can have poha, upma, or makhana made with desi ghee.</li>
        <li>You can also keep munching on nuts such as groundnuts, cashews, and more throughout the day. This will help you keep full and derive a higher amount of energy for your workouts. For dinner have 2 rotis, 1 big bowl of vegetables, some chicken or fish.</li>
        <li>You can also have a glass of turmeric milk with bananas at night before going to sleep. This will help you wake up more energized. </li>
    </ul>
    
        Being underweight can result in anemia, irregular menstrual cycle, fertility complications, and more. So, if you’re not the ideal weight as per your height, age, and other factors, follow a health diet You can also change your meals to better suit your taste and style by incorporating the following foods into your diet.
    
    <br>
    <p>
        <b>Breakfast</b>: Protein smoothies, paratha with white butter, whole milk, nuts, eggs, cheese, toasts with peanut butter or Greek yogurt with fruits <b>Lunch and dinner</b>: Rice, potatoes and other root vegetables, beans and legumes, full-fat paneer, mung dal chilla stuffed with cheese/paneer or chicken soup <b>Snacks</b>: Bananas, cheese sandwich, boiled potato salad, nuts or nut butters 
    </p>
    
<br><br>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>